package ${package}.dal.query.${pathName};

import java.util.Date;
import javax.persistence.*;
import ${package}common.util.BaseQuery;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end


/**
 * ${comments}查询条件
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
##@Table(name = "${tableName}")
public class ${className}Query extends BaseQuery {

#foreach ($column in $columns)
    #if(${column.attrname}!="gmtCreate" || ${column.attrname}!="gmtCreate" || ${column.attrname}!="creator" || ${column.attrname}!="modifier")
    //$column.comments
    ##@Column(name = "$column.columnName")
    private $column.attrType $column.attrname;
    #end
#end

#foreach ($column in $columns)
    #if(${column.attrname}!="id")
/**
 * set${column.comments}
 */
public void set${column.attrName}($column.attrType $column.attrname) {
    this.$column.attrname = $column.attrname;
    }
/**
 * get${column.comments}
 */
public $column.attrType get${column.attrName}() {
    return $column.attrname;
    }
    #end
#end
    }
