package ${package}.service.${pathName}.impl;

import org.springframework.stereotype.Service;
import ${package}common.msg.TableResultResponse;
import ${package}.biz.query.${pathName}.${className}Query;
import ${package}.biz.entity.${pathName}.${className}DO;
import ${package}.biz.vos.${pathName}.${className}VO;
import ${package}.dal.dao.${pathName}.${className}DAO;
import ${package}.biz.converter.${pathName}.${className}Converter;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import java.util.List;
import ${package}common.msg.TableResultResponse;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Service
public class ${className}ServiceImpl implements ${className}Service{
    private Logger logger = LoggerFactory.getLogger(getClass());
    @Resource
    private ${className}DAO ${classname}DAO;

    /**
     * 新增${comments}
     * @param ${classname}VO
     * @return
     */
    Boolean insert${className}(${className}VO ${classname}VO){
        try{
            ${className}DO ${classname}DO = ${className}Converter.convertVO2DO(${classname}VO);
            Long id = ${classname}DAO.insert${className}(${classname}DO);
            if(id>0){
                    ${classname}VO = ${className}Converter.convertDO2VO(${classname}DO);
                return true;
            }else{
                    ${classname}VO = null;
                return false;
            }
        } catch (Exception e) {
            logger.error("${className}Service insert${className} " + e);
                ${classname}VO = null;
            return false;
        }
    }

    /**
     * 删除${comments}
     * @param ${classname}VO
     * @return
     */
    Boolean delete${className}(${className}VO ${classname}VO){
        try{
            ${className}DO ${classname}DO = ${className}Converter.convertVO2DO(${classname}VO);
            Long id = ${classname}DAO.delete${className}(${classname}DO);
            if(id>0){
                return true;
            }else{
                return false;
            }
        } catch (Exception e) {
            logger.error("${className}Service delete${className} " + e);
            return false;
        }
    }

    /**
     * 修改${comments}
     * @param ${classname}VO
     * @return
     */
    Boolean update${className}(${className}VO ${classname}VO){
        try{
            ${className}DO ${classname}DO = ${className}Converter.convertVO2DO(${classname}VO);
            Long id = ${classname}DAO.update${className}(${classname}DO);
            if(id>0){
                    ${classname}VO = ${className}Converter.convertDO2VO(${classname}DO);
                return true;
            }else{
                    ${classname}VO = null;
                return false;
            }
        } catch (Exception e) {
            logger.error("${className}Service update${className} " + e);
                ${classname}VO = null;
            return false;
        }
    }

    /**
     * 查询单个${comments}
     * @param ${classname}Query
     * @return
     */
    ${className}VO get${className}(${className}Query ${classname}Query){
        try{
            ${className}VO ${classname}VO = ${classname}DAO.get${className}(${classname}Query);
            return ${classname}VO;
        } catch (Exception e) {
            logger.error("${className}Service get${className} " + e);
            return null;
        }
    }

    /**
     * 查询列表${comments}
     * @param ${classname}Query
     * @return
     */
    List<${className}VO> get${className}List(${className}Query ${classname}Query){
        try{
            List<${className}VO> ${classname}VOList = ${classname}DAO.get${className}(${classname}Query);
            return ${classname}VOList;
        } catch (Exception e) {
            logger.error("${className}Service get${className}List " + e);
            return null;
        }
    }

    /**
     * 查询分页${comments}
     * @param ${classname}Query
     * @return
     */
    TableResultResponse<${className}VO> get${className}Page(${className}Query ${classname}Query){
        try{
            Long count = ${classname}DAO.get${className}Count(${classname}Query);
            List<${className}VO> ${classname}VOList = ${classname}DAO.get${className}(${classname}Query);
            return new TableResultResponse<${className}VO>(count,${classname}VOList);
        } catch (Exception e) {
            logger.error("${className}Service get${className}Page " + e);
            return null;
        }
    }
}