package ${package}.service.${pathName}.impl;

import ${package}.biz.service.${pathName}.${className}Service;
import org.springframework.stereotype.Service;
import javax.annotation.Resource;
import ${package}common.msg.TableResultResponse;
import ${package}.dal.query.${pathName}.${className}Query;
import ${package}.dal.entity.${pathName}.${className}DO;
import ${package}.biz.vos.${pathName}.${className}VO;
import ${package}.dal.dao.${pathName}.${className}DAO;
import ${package}.biz.converter.${pathName}.${className}Converter;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import java.util.List;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Service
public class ${className}ServiceImpl implements ${className}Service{
    private Logger logger = LoggerFactory.getLogger(getClass());
    @Resource
    private ${className}DAO ${classname}DAO;

    /**
     * 新增${comments}
     * @param ${classname}VO
     * @return
     */
    @Override
    public  Boolean insert${className}(${className}VO ${classname}VO){
        try{
            ${className}DO ${classname}DO = ${className}Converter.convertVO2DO(${classname}VO);
            Integer id = ${classname}DAO.insert${className}(${classname}DO);
            if(id>0){
                    ${classname}VO = ${className}Converter.convertDO2VO(${classname}DO);
                return true;
            }else{
                    ${classname}VO = null;
                return false;
            }
        } catch (Exception e) {
            logger.error("${className}Service insert${className} " + e);
                ${classname}VO = null;
            return false;
        }
    }

    /**
     * 删除${comments}
     * @param ${classname}VO
     * @return
     */
    @Override
    public Boolean delete${className}(${className}VO ${classname}VO){
        try{
            ${className}DO ${classname}DO = ${className}Converter.convertVO2DO(${classname}VO);
            Integer id = ${classname}DAO.delete${className}(${classname}DO);
            if(id>0){
                return true;
            }else{
                return false;
            }
        } catch (Exception e) {
            logger.error("${className}Service delete${className} " + e);
            return false;
        }
    }

    /**
     * 修改${comments}
     * @param ${classname}VO
     * @return
     */
    @Override
    public Boolean update${className}(${className}VO ${classname}VO){
        try{
            ${className}DO ${classname}DO = ${className}Converter.convertVO2DO(${classname}VO);
            Integer id = ${classname}DAO.update${className}(${classname}DO);
            if(id>0){
                    ${classname}VO = ${className}Converter.convertDO2VO(${classname}DO);
                return true;
            }else{
                    ${classname}VO = null;
                return false;
            }
        } catch (Exception e) {
            logger.error("${className}Service update${className} " + e);
                ${classname}VO = null;
            return false;
        }
    }

    /**
     * 查询单个${comments}
     * @param ${classname}Query
     * @return
     */
    @Override
    public ${className}VO get${className}(${className}Query ${classname}Query){
        try{
            ${className}VO ${classname}VO = new ${className}VO();
            ${className}DO ${classname}DO = ${classname}DAO.get${className}(${classname}Query);
            ${classname}VO = ${classname}Converter.convertDO2VO(${classname}DO);
            return ${classname}VO;
        } catch (Exception e) {
            logger.error("${className}Service get${className} " + e);
            return null;
        }
    }

    /**
     * 查询列表${comments}
     * @param ${classname}Query
     * @return
     */
    @Override
    public List<${className}VO> get${className}List(${className}Query ${classname}Query){
        try{
            List<${className}VO> ${classname}VOList = new ArrayList<>();
            List<${className}DO> ${classname}DOList = ${classname}DAO.get${className}List(${classname}Query);
            ${classname}VOList =  ${classname}Converter.convertDOs2VOs(${classname}DOList);
            return ${classname}VOList;
        } catch (Exception e) {
            logger.error("${className}Service get${className}List " + e);
            return null;
        }
    }

    /**
     * 查询分页${comments}
     * @param ${classname}Query
     * @return
     */
    @Override
    public TableResultResponse<${className}VO> get${className}Page(${className}Query ${classname}Query){
        try{
            List<${className}VO> ${classname}VOList = new ArrayList<>();
            Long count = ${classname}DAO.get${className}Count(${classname}Query);
            List<${className}DO> ${classname}DOList = ${classname}DAO.get${className}List(${classname}Query);
            ${classname}VOList =  ${classname}Converter.convertDOs2VOs(${classname}DOList);
            return new TableResultResponse<${className}VO>(count,${classname}VOList);
        } catch (Exception e) {
            logger.error("${className}Service get${className}Page " + e);
            return null;
        }
    }
}