package ${package}.biz.service.${pathName};

import ${package}common.msg.TableResultResponse;
import ${package}.biz.query.${pathName}.${className}Query;
import ${package}.biz.vos.${pathName}.${className}VO;
import java.util.List;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service{
    Boolean insert${className}(${className}VO ${classname}VO);
    Boolean delete${className}(${className}VO ${classname}VO);
    Boolean update${className}(${className}VO ${classname}VO);
        ${className}VO get${className}(${className}Query ${classname}Query);
    Long get${className}Count(${className}Query ${classname}Query);
    List<${className}VO> get${className}List(${className}Query ${classname}Query);
    TableResultResponse<${className}VO> get${className}Page(${className}Query ${classname}Query);
}